html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 4px;
    padding: 0;
}

*:focus {
    background: rgb(174, 187, 118);
}

body {
    padding: 1em;
    background: lightcyan;
    font-size: x-large;
    font-family: calibri;
    user-select: none;
}

li {
    padding: 2px;
    margin: 2px;
    list-style: none;
}

.funky {
    padding: 4px;
    background-color: lightcoral;
}

.fonky {
    display: inline-block;
    padding: 4px;
    background-color: lightgreen;
}

button {
    padding: 4px;
    font-size: x-large;
}

.bar {
    outline: solid 1px turquoise;
}

path.a {
    fill: darkseagreen;
}
path.b {
    fill: aquamarine;
}
path.c {
    fill: coral;
}
