@import '_exp.scss';

/* roboto-mono-regular - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-mono-v12-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('/fonts/roboto-mono-v12-latin-regular.woff2') format('woff2'),
        url('/fonts/roboto-mono-v12-latin-regular.woff') format('woff'),
        url('/fonts/roboto-mono-v12-latin-regular.ttf') format('truetype'),
        url('/fonts/roboto-mono-v12-latin-regular.svg#RobotoMono') format('svg');
    /* Legacy iOS */
}

/* roboto-mono-700 - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/roboto-mono-v12-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('/fonts/roboto-mono-v12-latin-700.woff2') format('woff2'),
        url('/fonts/roboto-mono-v12-latin-700.woff') format('woff'),
        url('/fonts/roboto-mono-v12-latin-700.ttf') format('truetype'),
        url('/fonts/roboto-mono-v12-latin-700.svg#RobotoMono') format('svg');
    /* Legacy iOS */
}

/* html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
} */

*:focus {
    background: rgb(174, 187, 118);
}

body {
    font-family: 'calibri';
    font-weight: 400;
    color: #3e545c;
}

// @mixin mono {
//     font-size: 14px;
//     font-family: 'Roboto Mono', sans-serif, monospace;
// }

/* h1,
h2,
h3,
h4,
h5 {
    font-family: calibri;
} */

li {
    padding: 2px;
    margin: 2px;
    list-style: none;
}

.funky {
    padding: 4px;
    background-color: lightcoral;
}

.fonky {
    display: inline-block;
    padding: 4px;
    background-color: lightgreen;
}

button {
    padding: 4px;
    font-size: x-large;
}

.ownership,
.membership,
.family_relationship,
.partnership {
    font-weight: bold;
}

.degreecontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    align-items: stretch;
    gap: 1em;
}

.degree {
    display: grid;
}

.nodename {
    font-weight: bold;
}

.red {
    color: rgb(216, 3, 3);
}

path {
    cursor: pointer;
}

.namevalue .value {
    margin-left: 1em;
    font-weight: bold;
}

h3 {
    // margin: 0.5em 0;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.hase {
    color: maroon;
    background: red;
}

::-webkit-scrollbar {
    width: 15px;
    height: 11px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: desaturate(darken($color1, 0), 10);
    width: 5px;
    // border: 1px solid #802113;
    // border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: darken($color1, 30);
    // border: 1px solid #802113;
    // border-radius: 50px;
}
//   ::-webkit-scrollbar-thumb:hover {
//     background: #f90000;
//   }
//   ::-webkit-scrollbar-thumb:active {
//     background: #ff2b2b;
//   }
//   ::-webkit-scrollbar-track {
//     background: #e80000;
//     border: 0px none #ffffff;
//     border-radius: 53px;
//   }
//   ::-webkit-scrollbar-track:hover {
//     background: #666666;
//   }
//   ::-webkit-scrollbar-track:active {
//     background: #333333;
//   }
//   ::-webkit-scrollbar-corner {
//     background: transparent;
//   }
