/* html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
} */

*:focus {
    background: rgb(174, 187, 118);
}

body {
    font-size: medium;
    font-family: calibri;
}

li {
    padding: 2px;
    margin: 2px;
    list-style: none;
}

.funky {
    padding: 4px;
    background-color: lightcoral;
}

.fonky {
    display: inline-block;
    padding: 4px;
    background-color: lightgreen;
}

button {
    padding: 4px;
    font-size: x-large;
}

.bar {
    outline: solid 1px turquoise;
}


.ownership,
.membership,
.family_relationship,
.partnership {
    font-weight: bold;
}

.degreecontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    align-items: stretch;
    gap: 1em;
}

.degree {
    display: grid;
}

.nodename {
    font-weight: bold;
}

.red {
    color: rgb(216, 3, 3);
}

path {
    cursor: pointer;
}

.namevalue .value {
    margin-left: 1em;
    font-weight: bold;
}

h3 {
    margin: 0.5em 0;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}



.flexy{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.hase{
    color: maroon;
    background: red;
}