/* html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
} */

*:focus {
    background: rgb(174, 187, 118);
}

body {
    font-size: medium;
    font-family: calibri;
    /* user-select: none; */
}

li {
    padding: 2px;
    margin: 2px;
    list-style: none;
}

.funky {
    padding: 4px;
    background-color: lightcoral;
}

.fonky {
    display: inline-block;
    padding: 4px;
    background-color: lightgreen;
}

button {
    padding: 4px;
    font-size: x-large;
}

.bar {
    outline: solid 1px turquoise;
}

.ownership {
    fill: rgb(57, 65, 62);
    color: rgb(57, 65, 62);
}
.membership {
    fill: rgb(127, 170, 211);
    color: rgb(127, 170, 211);
}
.family_relationship {
    fill: rgb(187, 125, 173);
    color: rgb(187, 125, 173);
}
.partnership {
    fill: rgb(161, 106, 85);
    color: rgb(161, 106, 85);
}
.ownership,
.membership,
.family_relationship,
.partnership {
    font-weight: bold;
}

.degreecontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    align-items: stretch;
    gap: 1em;
}

.degree {
    display: grid;
}

.nodename {
    font-weight: bold;
}

.red {
    color: rgb(216, 3, 3);
}

path {
    cursor: pointer;
}

/* path {
    opacity: 0.5;
}
path.ins {
    fill: lightseagreen;
}
path.outs {
    fill: lightcoral;
} */

#toolbar {
    display: flex;
    flex-direction: row;
}
#toolbar a {
    margin: 1em;
}

.namevalue .value {
    margin-left: 1em;
    font-weight: bold;
}

h3{
    margin-top: 1em;
}