span.value {
  position: relative;
}

.gridtable .value {
  position: relative;
  overflow: visible;
  min-width: 80px;
}

.gridtable .value span {
  display: inline-block;
  padding: 0px 2px;
}

.gridtable .value span.bar {
  background: #abcccb;
}
