span.value {
    position: relative;

    // &::after {
    //     content: 'snup';
    //     position: absolute;
    //     background: orangered;
    //     left: 0;
    // }
}

.gridtable {
    .value {
        position: relative;
        overflow: visible;
        min-width: 80px;

        span {
            &.bar {
                background: #abcccb;
            }
            display: inline-block;
            padding: 0px 2px;
        }
    }
}
