
.ownership,
.owner {
    fill: rgb(57, 65, 62);
    color: rgb(57, 65, 62);
    stroke: rgb(57, 65, 62);
}
.membership,
.member {
    fill: rgb(127, 170, 211);
    color: rgb(127, 170, 211);
    stroke: rgb(127, 170, 211);
}
.family_relationship,
.family {
    fill: rgb(187, 125, 173);
    color: rgb(187, 125, 173);
    stroke: rgb(187, 125, 173);
}
.partnership,
.partner {
    fill: rgb(161, 106, 85);
    color: rgb(161, 106, 85);
    stroke: rgb(161, 106, 85);
}