@mixin tricolori($c) {
    color: $c;
    fill: $c;
    stroke: $c;
    background: lighten($c, 30);
    color: darken($c, 20);
}

$nodetypecolors: (
    company: (#5c74a6),
    event: (#ff8600),
    location: (#829750),
    movement : rgb(163, 158, 89),
    organization : rgb(148, 104, 168),
    political_organization : (#785586),
    person : rgb(165, 75, 75),
    vessel : rgb(77, 131, 153),
    undefined : rgb(114, 114, 114)
);

$linktypecolors: (
    "ownership": rgb(57, 65, 62),
    "membership": rgb(127, 170, 211),
    "family_relationship": rgb(187, 125, 173),
    "partnership": rgb(161, 106, 85),
);

@each $name, $color in $nodetypecolors {
    .#{$name} {
        @include tricolori($color);
    }
};

@each $name, $color in $linktypecolors {
    .#{$name} {
        @include tricolori($color);
    }
};

@each $name1, $color1 in $nodetypecolors {
    @each $name2, $color2 in $nodetypecolors {
        .sel[connects=#{$name1}-#{$name2}],
        .sankey path.sel[connects=#{$name1}-#{$name2}]
        {
            stroke: $color1;
        }
    }
}
