@mixin tricolori($c) {
    color: $c;
    fill: $c;
    stroke: $c;
}

.ownership,
.owner {
    @include tricolori(rgb(57, 65, 62));
}
.membership,
.member {
    @include tricolori(rgb(127, 170, 211));
}
.family_relationship,
.family {
    @include tricolori(color);
}
.partnership,
.partner {
    @include tricolori(rgb(161, 106, 85));
}

.company {
    @include tricolori(#5c74a6);
}

.event {
    @include tricolori(#ff8600)
}

.location {
    @include tricolori(#829750)
}

.movement {
    @include tricolori(rgb(163, 158, 89))
}

.organization {
    @include tricolori(rgb(148, 104, 168))
}

.political_organization {
    @include tricolori(#785586)
}

.person {
    @include tricolori(rgb(165, 75, 75))
}

.vessel {
    @include tricolori(rgb(30, 77, 148))
}

.undefined {
    @include tricolori(rgb(114, 114, 114))
}
