.company {
  color: #5c74a6;
  fill: #5c74a6;
  stroke: #5c74a6;
  background: #bfc8dc;
  color: #374665;
}

.event {
  color: #ff8600;
  fill: #ff8600;
  stroke: #ff8600;
  background: #ffcf99;
  color: #995000;
}

.location {
  color: #829750;
  fill: #829750;
  stroke: #829750;
  background: #c8d3ad;
  color: #49542d;
}

.movement {
  color: #a39e59;
  fill: #a39e59;
  stroke: #a39e59;
  background: #dad8bb;
  color: #615e35;
}

.organization {
  color: #9468a8;
  fill: #9468a8;
  stroke: #9468a8;
  background: #d9c9e0;
  color: #5e3e6c;
}

.political_organization {
  color: #785586;
  fill: #785586;
  stroke: #785586;
  background: #c1abc9;
  color: #402d48;
}

.person {
  color: #a54b4b;
  fill: #a54b4b;
  stroke: #a54b4b;
  background: #daafaf;
  color: #5f2b2b;
}

.vessel {
  color: #4d8399;
  fill: #4d8399;
  stroke: #4d8399;
  background: #abc8d4;
  color: #2b4955;
}

.undefined {
  color: #727272;
  fill: #727272;
  stroke: #727272;
  background: #bfbfbf;
  color: #3f3f3f;
}

.ownership {
  color: #39413e;
  fill: #39413e;
  stroke: #39413e;
  background: #82918b;
  color: #090b0a;
}

.membership {
  color: #7faad3;
  fill: #7faad3;
  stroke: #7faad3;
  background: #f1f6fa;
  color: #3c77b0;
}

.family_relationship {
  color: #bb7dad;
  fill: #bb7dad;
  stroke: #bb7dad;
  background: #f0e1ec;
  color: #8a487b;
}

.partnership {
  color: #a16a55;
  fill: #a16a55;
  stroke: #a16a55;
  background: #d9c0b6;
  color: #5e3e32;
}

.sel[connects=company-company] {
  background: linear-gradient(to bottom left, #9eacca 50%, #9eacca 50%);
}

.sel[connects=company-event] {
  background: linear-gradient(to bottom left, #ffb666 50%, #9eacca 50%);
}

.sel[connects=company-location] {
  background: linear-gradient(to bottom left, #b2c28b 50%, #9eacca 50%);
}

.sel[connects=company-movement] {
  background: linear-gradient(to bottom left, #c8c59a 50%, #9eacca 50%);
}

.sel[connects=company-organization] {
  background: linear-gradient(to bottom left, #c2a9cd 50%, #9eacca 50%);
}

.sel[connects=company-political_organization] {
  background: linear-gradient(to bottom left, #aa8bb6 50%, #9eacca 50%);
}

.sel[connects=company-person] {
  background: linear-gradient(to bottom left, #cb8c8c 50%, #9eacca 50%);
}

.sel[connects=company-vessel] {
  background: linear-gradient(to bottom left, #89b2c3 50%, #9eacca 50%);
}

.sel[connects=company-undefined] {
  background: linear-gradient(to bottom left, #a5a5a5 50%, #9eacca 50%);
}

.sel[connects=event-company] {
  background: linear-gradient(to bottom left, #9eacca 50%, #ffb666 50%);
}

.sel[connects=event-event] {
  background: linear-gradient(to bottom left, #ffb666 50%, #ffb666 50%);
}

.sel[connects=event-location] {
  background: linear-gradient(to bottom left, #b2c28b 50%, #ffb666 50%);
}

.sel[connects=event-movement] {
  background: linear-gradient(to bottom left, #c8c59a 50%, #ffb666 50%);
}

.sel[connects=event-organization] {
  background: linear-gradient(to bottom left, #c2a9cd 50%, #ffb666 50%);
}

.sel[connects=event-political_organization] {
  background: linear-gradient(to bottom left, #aa8bb6 50%, #ffb666 50%);
}

.sel[connects=event-person] {
  background: linear-gradient(to bottom left, #cb8c8c 50%, #ffb666 50%);
}

.sel[connects=event-vessel] {
  background: linear-gradient(to bottom left, #89b2c3 50%, #ffb666 50%);
}

.sel[connects=event-undefined] {
  background: linear-gradient(to bottom left, #a5a5a5 50%, #ffb666 50%);
}

.sel[connects=location-company] {
  background: linear-gradient(to bottom left, #9eacca 50%, #b2c28b 50%);
}

.sel[connects=location-event] {
  background: linear-gradient(to bottom left, #ffb666 50%, #b2c28b 50%);
}

.sel[connects=location-location] {
  background: linear-gradient(to bottom left, #b2c28b 50%, #b2c28b 50%);
}

.sel[connects=location-movement] {
  background: linear-gradient(to bottom left, #c8c59a 50%, #b2c28b 50%);
}

.sel[connects=location-organization] {
  background: linear-gradient(to bottom left, #c2a9cd 50%, #b2c28b 50%);
}

.sel[connects=location-political_organization] {
  background: linear-gradient(to bottom left, #aa8bb6 50%, #b2c28b 50%);
}

.sel[connects=location-person] {
  background: linear-gradient(to bottom left, #cb8c8c 50%, #b2c28b 50%);
}

.sel[connects=location-vessel] {
  background: linear-gradient(to bottom left, #89b2c3 50%, #b2c28b 50%);
}

.sel[connects=location-undefined] {
  background: linear-gradient(to bottom left, #a5a5a5 50%, #b2c28b 50%);
}

.sel[connects=movement-company] {
  background: linear-gradient(to bottom left, #9eacca 50%, #c8c59a 50%);
}

.sel[connects=movement-event] {
  background: linear-gradient(to bottom left, #ffb666 50%, #c8c59a 50%);
}

.sel[connects=movement-location] {
  background: linear-gradient(to bottom left, #b2c28b 50%, #c8c59a 50%);
}

.sel[connects=movement-movement] {
  background: linear-gradient(to bottom left, #c8c59a 50%, #c8c59a 50%);
}

.sel[connects=movement-organization] {
  background: linear-gradient(to bottom left, #c2a9cd 50%, #c8c59a 50%);
}

.sel[connects=movement-political_organization] {
  background: linear-gradient(to bottom left, #aa8bb6 50%, #c8c59a 50%);
}

.sel[connects=movement-person] {
  background: linear-gradient(to bottom left, #cb8c8c 50%, #c8c59a 50%);
}

.sel[connects=movement-vessel] {
  background: linear-gradient(to bottom left, #89b2c3 50%, #c8c59a 50%);
}

.sel[connects=movement-undefined] {
  background: linear-gradient(to bottom left, #a5a5a5 50%, #c8c59a 50%);
}

.sel[connects=organization-company] {
  background: linear-gradient(to bottom left, #9eacca 50%, #c2a9cd 50%);
}

.sel[connects=organization-event] {
  background: linear-gradient(to bottom left, #ffb666 50%, #c2a9cd 50%);
}

.sel[connects=organization-location] {
  background: linear-gradient(to bottom left, #b2c28b 50%, #c2a9cd 50%);
}

.sel[connects=organization-movement] {
  background: linear-gradient(to bottom left, #c8c59a 50%, #c2a9cd 50%);
}

.sel[connects=organization-organization] {
  background: linear-gradient(to bottom left, #c2a9cd 50%, #c2a9cd 50%);
}

.sel[connects=organization-political_organization] {
  background: linear-gradient(to bottom left, #aa8bb6 50%, #c2a9cd 50%);
}

.sel[connects=organization-person] {
  background: linear-gradient(to bottom left, #cb8c8c 50%, #c2a9cd 50%);
}

.sel[connects=organization-vessel] {
  background: linear-gradient(to bottom left, #89b2c3 50%, #c2a9cd 50%);
}

.sel[connects=organization-undefined] {
  background: linear-gradient(to bottom left, #a5a5a5 50%, #c2a9cd 50%);
}

.sel[connects=political_organization-company] {
  background: linear-gradient(to bottom left, #9eacca 50%, #aa8bb6 50%);
}

.sel[connects=political_organization-event] {
  background: linear-gradient(to bottom left, #ffb666 50%, #aa8bb6 50%);
}

.sel[connects=political_organization-location] {
  background: linear-gradient(to bottom left, #b2c28b 50%, #aa8bb6 50%);
}

.sel[connects=political_organization-movement] {
  background: linear-gradient(to bottom left, #c8c59a 50%, #aa8bb6 50%);
}

.sel[connects=political_organization-organization] {
  background: linear-gradient(to bottom left, #c2a9cd 50%, #aa8bb6 50%);
}

.sel[connects=political_organization-political_organization] {
  background: linear-gradient(to bottom left, #aa8bb6 50%, #aa8bb6 50%);
}

.sel[connects=political_organization-person] {
  background: linear-gradient(to bottom left, #cb8c8c 50%, #aa8bb6 50%);
}

.sel[connects=political_organization-vessel] {
  background: linear-gradient(to bottom left, #89b2c3 50%, #aa8bb6 50%);
}

.sel[connects=political_organization-undefined] {
  background: linear-gradient(to bottom left, #a5a5a5 50%, #aa8bb6 50%);
}

.sel[connects=person-company] {
  background: linear-gradient(to bottom left, #9eacca 50%, #cb8c8c 50%);
}

.sel[connects=person-event] {
  background: linear-gradient(to bottom left, #ffb666 50%, #cb8c8c 50%);
}

.sel[connects=person-location] {
  background: linear-gradient(to bottom left, #b2c28b 50%, #cb8c8c 50%);
}

.sel[connects=person-movement] {
  background: linear-gradient(to bottom left, #c8c59a 50%, #cb8c8c 50%);
}

.sel[connects=person-organization] {
  background: linear-gradient(to bottom left, #c2a9cd 50%, #cb8c8c 50%);
}

.sel[connects=person-political_organization] {
  background: linear-gradient(to bottom left, #aa8bb6 50%, #cb8c8c 50%);
}

.sel[connects=person-person] {
  background: linear-gradient(to bottom left, #cb8c8c 50%, #cb8c8c 50%);
}

.sel[connects=person-vessel] {
  background: linear-gradient(to bottom left, #89b2c3 50%, #cb8c8c 50%);
}

.sel[connects=person-undefined] {
  background: linear-gradient(to bottom left, #a5a5a5 50%, #cb8c8c 50%);
}

.sel[connects=vessel-company] {
  background: linear-gradient(to bottom left, #9eacca 50%, #89b2c3 50%);
}

.sel[connects=vessel-event] {
  background: linear-gradient(to bottom left, #ffb666 50%, #89b2c3 50%);
}

.sel[connects=vessel-location] {
  background: linear-gradient(to bottom left, #b2c28b 50%, #89b2c3 50%);
}

.sel[connects=vessel-movement] {
  background: linear-gradient(to bottom left, #c8c59a 50%, #89b2c3 50%);
}

.sel[connects=vessel-organization] {
  background: linear-gradient(to bottom left, #c2a9cd 50%, #89b2c3 50%);
}

.sel[connects=vessel-political_organization] {
  background: linear-gradient(to bottom left, #aa8bb6 50%, #89b2c3 50%);
}

.sel[connects=vessel-person] {
  background: linear-gradient(to bottom left, #cb8c8c 50%, #89b2c3 50%);
}

.sel[connects=vessel-vessel] {
  background: linear-gradient(to bottom left, #89b2c3 50%, #89b2c3 50%);
}

.sel[connects=vessel-undefined] {
  background: linear-gradient(to bottom left, #a5a5a5 50%, #89b2c3 50%);
}

.sel[connects=undefined-company] {
  background: linear-gradient(to bottom left, #9eacca 50%, #a5a5a5 50%);
}

.sel[connects=undefined-event] {
  background: linear-gradient(to bottom left, #ffb666 50%, #a5a5a5 50%);
}

.sel[connects=undefined-location] {
  background: linear-gradient(to bottom left, #b2c28b 50%, #a5a5a5 50%);
}

.sel[connects=undefined-movement] {
  background: linear-gradient(to bottom left, #c8c59a 50%, #a5a5a5 50%);
}

.sel[connects=undefined-organization] {
  background: linear-gradient(to bottom left, #c2a9cd 50%, #a5a5a5 50%);
}

.sel[connects=undefined-political_organization] {
  background: linear-gradient(to bottom left, #aa8bb6 50%, #a5a5a5 50%);
}

.sel[connects=undefined-person] {
  background: linear-gradient(to bottom left, #cb8c8c 50%, #a5a5a5 50%);
}

.sel[connects=undefined-vessel] {
  background: linear-gradient(to bottom left, #89b2c3 50%, #a5a5a5 50%);
}

.sel[connects=undefined-undefined] {
  background: linear-gradient(to bottom left, #a5a5a5 50%, #a5a5a5 50%);
}
