.nid {
    font-weight: bold;
}

.matrix td {
    /* background-color: lightcoral; */
    padding: 4px;
}

#graphview {
    position: relative;
    height: 100%;
    background: #ddd;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.nodelink {
    width: 100%;
    height: 100%;
}

#graphview svg {
    width: 100%;
    height: 100%;
    display: block;
    background: #ddd;
}

.link {
    stroke: #777;
}
