body {
    /* display: grid;
    place-items: center;
    grid-template-rows: 100vh; */
    font-family: verdana;
    margin: 1em;
}

.ownership,
.owner {
    fill: rgb(57, 65, 62);
    color: rgb(57, 65, 62);
}

.membership,
.member {
    fill: rgb(127, 170, 211);
    color: rgb(127, 170, 211);
}

.family_relationship,
.family {
    fill: rgb(187, 125, 173);
    color: rgb(187, 125, 173);
}

.partnership,
.partner {
    fill: rgb(161, 106, 85);
    color: rgb(161, 106, 85);
}

svg {
    background: lightblue;
    margin: 2em;
}

.link {
    stroke: #777;
}

div {
    margin: 4px;
    background: lightblue;
}

span {
    display: inline-block;
    margin: 2px;
    background-color: lightcoral;
}

table {
    border-collapse: collapse;
}
td {
    border: solid 1px #333;
    padding: 2px;
    cursor: pointer;
}
