@import '_exp.scss';

.link-stats-table {
    td,
    th {
        // border: solid 1px #ccc;
        padding: 2px 4px;
    }
    th {
        overflow: hidden;
        text-align: center;
    }
    td {
        text-align: right;
        cursor: pointer;
        &:hover {
            background-color: white;
        }
        &.sel {
            font-weight: bold;
        }
    }
    table {
        // border-collapse: collapse;
        &.out {
            margin-top: 1em;
            cursor: pointer;
        }
    }
    table-layout: fixed;
    user-select: none;
    max-width: 800px;
    width: 100%;
    background: white;
}

$color12: #aaccbb;

.link-weights {
    width: 300px;
    height: 100px;
    .ruler {
        fill: darken($color2, 20);
        opacity: 0.2;
    }
    .rulervalue {
        fill: darken($color1, 40);
        font-size: 20px;
    }
    rect {
        fill: darken($color1, 40);
    }
}

g.tick {
    text {
        font-size: 16px;
        font-family: calibri;
    }
}
