@import '_exp.scss';

.link-stats-table {
    user-select: none;
    td {
        cursor: pointer;

        &:hover {
            background-color: white;
        }
        &.sel {
            background-image: linear-gradient(to bottom left, lightseagreen 50%, lightsalmon 50%);
        }
    }
}

$color12: #aaccbb;

.link-weights {
    width: 300px;
    height: 100px;
    .ruler {
        fill: darken($color2, 20);
        opacity: 0.2;
    }
    .rulervalue {
        fill: darken($color1, 40);
        font-size: 20px;
    }
    rect {
        fill: darken($color1, 40);
    }
}

g.tick {
    text {
        font-size: 16px;
        font-family: calibri;
    }
}
