.link-stats-table {
  cursor: pointer;
  table-layout: fixed;
  user-select: none;
  max-width: 800px;
  width: 100%;
}

.link-stats-table th.all {
  background: transparent;
}

.link-stats-table th.all:hover {
  background-color: #aaccbb;
}

.link-stats-table td,
.link-stats-table th {
  padding: 2px 4px;
}

.link-stats-table th {
  overflow: hidden;
  text-align: center;
}

.link-stats-table th:hover {
  filter: contrast(1.1);
}

.link-stats-table td {
  text-align: right;
  cursor: pointer;
}

.link-stats-table td:hover {
  background-color: white;
}

.link-stats-table td.sel {
  font-weight: bold;
}

article.linkstats table.out {
  margin-top: 1.5em;
  cursor: pointer;
}

article.linkstats table.out td {
  padding: 0 8px;
}

article.linkstats h3 {
  margin-bottom: 0.5em;
  background: none;
}

.link-weights {
  width: 300px;
  height: 100px;
}

.link-weights .ruler {
  fill: #85b4b4;
  opacity: 0.2;
}

.link-weights .rulervalue {
  fill: #406a55;
  font-size: 20px;
}

.link-weights rect {
  fill: #406a55;
}

g.tick text {
  font-size: 16px;
  font-family: calibri;
}
