.link-stats-table {
    td {
        cursor: pointer;

        &:hover {
            background-color: white;
        }
    }
}

.link-weights{
    width: 300px;
    height: 100px;
}

g.tick {
    text{
        font-size: 16px;
        font-family: calibri;
    }
}