.link-stats-table {
  table-layout: fixed;
  user-select: none;
  max-width: 800px;
  width: 100%;
  background: white;
}

.link-stats-table td,
.link-stats-table th {
  padding: 2px 4px;
}

.link-stats-table th {
  overflow: hidden;
  text-align: center;
}

.link-stats-table td {
  text-align: right;
  cursor: pointer;
}

.link-stats-table td:hover {
  background-color: white;
}

.link-stats-table td.sel {
  font-weight: bold;
}

.link-stats-table table.out {
  margin-top: 1em;
  cursor: pointer;
}

.link-weights {
  width: 300px;
  height: 100px;
}

.link-weights .ruler {
  fill: #85b4b4;
  opacity: 0.2;
}

.link-weights .rulervalue {
  fill: #406a55;
  font-size: 20px;
}

.link-weights rect {
  fill: #406a55;
}

g.tick text {
  font-size: 16px;
  font-family: calibri;
}
