.linkstats td,
.linkstats th {
  padding: 2px 4px;
  text-align: right;
}

.linkstats table.out {
  margin-top: 1em;
  cursor: pointer;
}

.link-stats-table {
  table-layout: fixed;
  user-select: none;
  width: 800px;
}

.link-stats-table td {
  cursor: pointer;
  opacity: .8;
}

.link-stats-table td:hover {
  background-color: white;
}

.link-stats-table td.sel {
  opacity: 1;
}

.link-weights {
  width: 300px;
  height: 100px;
}

.link-weights .ruler {
  fill: #85b4b4;
  opacity: 0.2;
}

.link-weights .rulervalue {
  fill: #406a55;
  font-size: 20px;
}

.link-weights rect {
  fill: #406a55;
}

g.tick text {
  font-size: 16px;
  font-family: calibri;
}
