$suspect-color: rgb(202, 76, 86);

article.network {
    display: grid;
    gap: 1em;
}

svg.net-donut {
    overflow: visible;
}

.net-graph {
    //body.node-focus .net-graph .donut:not(.suspect) * {

    body.highlightpaths & {
        .node:not(.highlight):not(.focused) * {
            fill: #555 !important;
            opacity: 0.5;
        }

        .node.focused .bgcircle {
            fill: yellowgreen !important;
            opacity: 1;
        }

        g.highlight {
            line {
                stroke: red;
            }
        }
        g:not(.highlight) {
            line {
                opacity: 0.15;
            }
        }
        // .donut.suspect {
        //     opacity: 1 ip !important;
        // }
    }

    // background: lightseagreen;
    user-select: none;
    & > svg {
        // outline: solid 1px lightgreen;
        width: 100%;
        height: 100%;
    }
    text {
        text-anchor: middle;
        stroke: none;
        fill: #333;
    }
    g.inv {
        text {
            fill: rgb(187, 12, 12);
        }
        .bgcircle {
            fill: orange;
        }
    }
    g {
        cursor: pointer;

        &.sel {
            fill: yellowgreen;
        }
    }
    line {
        stroke: #333;
        opacity: 0.2;
    }
    g.donut {
        transform: initial;

        text {
            dominant-baseline: hanging;
            font-weight: bold;
        }

        &:hover {
            .bgcircle {
                fill: #fff;
            }
        }
    }

    g.donut.suspect:not(.inv) {
        .bgcircle {
            fill: $suspect-color;
        }
        &:hover {
            .bgcircle {
                fill: lighten($suspect-color, 20);
            }
        }
    }

    .linkadorn {
        stroke: none;
        // &.in{
        //     stroke: green;
        //     stroke-width: 4;
        // }
        // &.out{
        //     stroke: red;
        //     stroke-width: 4;
        // }
    }
}

.bgcircle {
    fill: #eee;
}

div.path-matrix {
    display: none;

    body.showpathmatrix & {
        display: initial;
    }

    position: absolute;
    bottom: 0;
    // background: lightcoral;
    svg {
        // background: lightpink;
        overflow: visible;
    }
    g {
        cursor: pointer;
        &.sel {
            circle {
                fill: #222;
                stroke: none;
            }
            text {
                fill: white;
            }
        }
    }
    circle {
        fill: white;
        stroke: #333;
    }
    text {
        fill: #333;
        font-weight: bold;
        text-anchor: middle;
        dominant-baseline: central;
    }
    text.h-label {
        fill: #333;
        text-anchor: start;
    }
    text.v-label {
        text-anchor: start;
    }
}

.linkadorns .in {
    fill: red;
    stroke-width: 1;
}
.linkadorns .out {
    fill: rgb(130, 136, 46);
    stroke-width: 1;
}
