$suspect-color: rgb(202, 76, 86);

article.network {
    display: grid;
    gap: 1em;
}

.net-graph {
    user-select: none;

    & > svg {
        // outline: solid 1px lightgreen;
        width: 100%;
        height: 100%;
        overflow: visible;
    }

    body.highlightpaths & {
        .node:not(.highlight):not(.focused) * {
            fill: #555 !important;
            opacity: 0.5;
        }

        .node.focused .bgcircle {
            fill: yellowgreen !important;
            opacity: 1;
        }

        g.highlight {
            line {
                stroke: red;
            }
        }
        g:not(.highlight) {
            line {
                opacity: 0.15;
            }
        }
        // .donut.suspect {
        //     opacity: 1 ip !important;
        // }
    }

    .node {
        // outline: solid 1px lightcoral;
        .donut {
            opacity: 0;
            transform: translate(-35px, 0);
            transition: all 0.2s;
        }
        text {
            dominant-baseline: middle;
            stroke: none;
            fill: #555;
            transition: all 0.1s;
        }
        &.sus {
            text {
                text-anchor: end;
            }
            .donut {
                transform: translate(+35px, 0);
            }
        }
        &:not(.pinned):not(.inter) {
            text.id {
                transform: none;
            }
        }
        &:hover,
        &.pinned,
        &.inter {
            .donut {
                opacity: 0.9;
            }
            text {
                font-weight: bold;
            }
            text.distance {
                display: none;
            }
        }
        &.pinned,
        &.inter {
            .donut {
                transform: initial;
            }
            text {
                dominant-baseline: hanging;
                text-anchor: middle;
                pointer-events: none;
                opacity: 0.85;
            }
        }
        text.distance {
            text-anchor: start;
            transform: translateX(5px);
            font-weight: bold;
            fill: rgb(202, 76, 86);
        }
        &.selected {
            .donut {
                opacity: 0.9;
                path,
                circle {
                    fill: rgb(78, 78, 78);
                }
            }
        }
        &[suspectdistance='1'] {
            text {
                font-weight: bold;
                fill: $suspect-color;
            }
        }
        &[suspectdistance='2'] {
            text {
                fill: $suspect-color;
            }
        }
    }

    g.inv {
        .bgcircle {
            fill: orange;
        }
    }
    g {
        cursor: pointer;

        &.sel {
            fill: yellowgreen;
        }
    }
    line {
        stroke: #333;
        opacity: 0.4;
    }
    g.donut {
        transform: initial;

        text {
            dominant-baseline: hanging;
            font-weight: bold;
            pointer-events: none;
            opacity: 0.85;
        }

        // &:hover {
        //     .bgcircle {
        //         fill: #fff;
        //     }
        // }
    }

    g.donut.suspect:not(.inv) {
        .bgcircle {
            fill: $suspect-color;
        }
        &:hover {
            .bgcircle {
                fill: lighten($suspect-color, 20);
            }
        }
    }

    .linkadorn {
        stroke: none;
        // &.in{
        //     stroke: green;
        //     stroke-width: 4;
        // }
        // &.out{
        //     stroke: red;
        //     stroke-width: 4;
        // }
    }
}

.bgcircle {
    fill: #eee;
}

.triangle {
    fill: #ddd;
    stroke: #333;
    stroke-width: 1;
    opacity: 0.5;
    // display: none;
}

#scores {
    display: none;
    body.showmatrix & {
        display: initial;
    }
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background-color: rgb(193, 224, 222);
    overflow: auto;

    table {
        table-layout: fixed;
        width: 100%;
    }

    tr {
        cursor: pointer;
        &:hover {
            background-color: rgb(106, 128, 126);
            color: white;
        }
    }

    .distances {
        font-weight: bold;
    }
}

article {
    position: relative;
}
