article.network {
  display: grid;
  gap: 1em;
}

.net-graph {
  user-select: none;
}

.net-graph > svg {
  outline: solid 1px lightgreen;
  width: 100%;
  height: 100%;
}

body.highlightpaths .net-graph .node:not(.highlight):not(.focused) * {
  fill: #555 !important;
  opacity: 0.5;
}

body.highlightpaths .net-graph .node.focused .bgcircle {
  fill: yellowgreen !important;
  opacity: 1;
}

body.highlightpaths .net-graph g.highlight line {
  stroke: red;
}

body.highlightpaths .net-graph g:not(.highlight) line {
  opacity: 0.15;
}

.net-graph text {
  stroke: none;
  fill: #555;
  font-weight: 100;
}

.net-graph text:hover {
  fill: steelblue;
  transition: all 1s;
}

.net-graph g.inv .bgcircle {
  fill: orange;
}

.net-graph g {
  cursor: pointer;
}

.net-graph g.sel {
  fill: yellowgreen;
}

.net-graph line {
  stroke: #333;
  opacity: 0.4;
}

.net-graph g.donut {
  transform: initial;
}

.net-graph g.donut text {
  dominant-baseline: hanging;
  font-weight: bold;
}

.net-graph g.donut:hover .bgcircle {
  fill: #fff;
}

.net-graph g.donut.suspect:not(.inv) .bgcircle {
  fill: #ca4c56;
}

.net-graph g.donut.suspect:not(.inv):hover .bgcircle {
  fill: #e19ba0;
}

.net-graph .linkadorn {
  stroke: none;
}

.bgcircle {
  fill: #eee;
}

.triangle {
  fill: #ddd;
  stroke: #333;
  stroke-width: 1;
  opacity: 0.5;
}
