article.network {
  display: grid;
  gap: 1em;
}

svg.net-donut {
  overflow: visible;
}

.net-graph {
  user-select: none;
}

body.highlightpaths .net-graph .node:not(.highlight):not(.focused) * {
  fill: #555 !important;
  opacity: 0.5;
}

body.highlightpaths .net-graph .node.focused .bgcircle {
  fill: yellowgreen !important;
  opacity: 1;
}

body.highlightpaths .net-graph g.highlight line {
  stroke: red;
}

body.highlightpaths .net-graph g:not(.highlight) line {
  opacity: 0.15;
}

.net-graph > svg {
  width: 100%;
  height: 100%;
}

.net-graph text {
  text-anchor: middle;
  stroke: none;
  fill: #333;
}

.net-graph g.inv text {
  fill: #bb0c0c;
}

.net-graph g.inv .bgcircle {
  fill: orange;
}

.net-graph g {
  cursor: pointer;
}

.net-graph g.sel {
  fill: yellowgreen;
}

.net-graph line {
  stroke: #555;
}

.net-graph g.donut {
  transform: initial;
}

.net-graph g.donut text {
  dominant-baseline: hanging;
  font-weight: bold;
}

.net-graph g.donut:hover .bgcircle {
  fill: #fff;
}

.net-graph g.donut.suspect:not(.inv) .bgcircle {
  fill: red;
}

.net-graph g.donut.suspect:not(.inv):hover .bgcircle {
  fill: red;
}

.net-graph .linkadorn {
  stroke: none;
}

.bgcircle {
  fill: #eee;
}

div.path-matrix {
  display: none;
  position: absolute;
  bottom: 0;
}

body.showpathmatrix div.path-matrix {
  display: initial;
}

div.path-matrix svg {
  overflow: visible;
}

div.path-matrix g {
  cursor: pointer;
}

div.path-matrix g.sel circle {
  fill: #222;
  stroke: none;
}

div.path-matrix g.sel text {
  fill: white;
}

div.path-matrix circle {
  fill: white;
  stroke: #333;
}

div.path-matrix text {
  fill: #333;
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: central;
}

div.path-matrix text.h-label {
  fill: #333;
  text-anchor: start;
}

div.path-matrix text.v-label {
  text-anchor: start;
}
