article.network {
    display: grid;
    gap: 1em;
}

svg.net-donut {
    overflow: visible;
}

.net-graph {
    // background: lightseagreen;
    user-select: none;
    & > svg {
        // outline: solid 1px lightgreen;
        width: 100%;
        height: 100%;
    }
    text {
        text-anchor: middle;
        stroke: none;
        fill: #333;
    }
    g.inv text {
        fill: red;
    }
    g {
        cursor: pointer;
        &:hover {
            opacity: 0.9;
        }
        &.sel {
            fill: yellowgreen;
        }
    }
    line {
        stroke: #333;
    }
    g.donut {
        transform: initial;
    }
}

div.path-matrix {
    display: none;

    body.showpathmatrix & {
        display: initial;
    }

    position: absolute;
    bottom: 0;
    // background: lightcoral;
    svg {
        // background: lightpink;
    }
    g {
        cursor: pointer;
        &.sel {
            circle {
                fill: #222;
                stroke: none;
            }
            text {
                fill: white;
            }
        }
    }
    circle {
        fill: white;
        stroke: #333;
    }
    text {
        fill: #333;
        font-weight: bold;
        text-anchor: middle;
        dominant-baseline: central;
    }
    text.label {
        fill: #333;
        text-anchor: start;
    }
}
