article.network {
  display: grid;
  gap: 1em;
}

.net-graph {
  background: lightseagreen;
}

.net-graph svg {
  outline: solid 1px lightgreen;
}

.path-matrix g {
  cursor: pointer;
}

.path-matrix circle {
  fill: #333;
}

.path-matrix text {
  fill: white;
  text-anchor: middle;
  dominant-baseline: central;
}
