nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 1em;
}

.nodeview {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 'name logo';
  gap: 8px;
  padding: 0.25em;
  _background: #fafafa;
  _border-left: solid 4px #777;
  cursor: pointer;
}

.nodeview h3 {
  margin: 0;
}

.nodeview .gridtable {
  grid-area: gridtable;
}

.nodeview svg {
  grid-area: logo;
  align-self: center;
  justify-self: end;
}

.nodeview h3 {
  grid-area: name;
}

.nodeview:hover {
  background: #f8f8f8;
}

.nodeview.selected {
  background: white;
}

g.donut {
  opacity: 0.92;
}

.icon.company {
  fill: #555;
  scale: 3%;
  transform: translate(-200px, -240px);
}

.icon.person {
  fill: #555;
  scale: 3%;
  transform: translate(-170px, -260px);
}

.icon.organization {
  fill: #555;
  scale: 3%;
  transform: translate(-290px, -320px);
}

.icon.political-organization {
  fill: #555;
  scale: 3%;
  transform: translate(-270px, -300px);
}

.icon.vessel {
  fill: #555;
  scale: 3%;
  transform: translate(-280px, -300px);
}

.icon.location {
  fill: #555;
  scale: 3%;
  transform: translate(-200px, -280px);
}

.icon.event {
  fill: #555;
  scale: 3%;
  transform: translate(-255px, -260px);
}

.icon.movement {
  fill: #555;
  scale: 3%;
  transform: translate(-220px, -260px);
}
