.nodeview {
  /* background: #fff; */
  /* border: solid 1px #333; */
  /* border-left: solid 4px #777; */
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'name logo' 'gridtable gridtable';
  gap: 8px;
  border: solid 1px #ccc;
  cursor: pointer;
}

.nodeview h3 {
  margin: 0;
}

.nodeview .gridtable {
  grid-area: gridtable;
}

.nodeview svg {
  grid-area: logo;
  align-self: center;
  justify-self: end;
}

.nodeview h3 {
  grid-area: name;
}

.nodeview > * {
  padding: 2px;
}

.nodeview:hover {
  background: #fff;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.gridtable {
  display: grid;
  align-items: stretch;
  grid-template-columns: auto auto;
  grid-template-rows: min-content;
  gap: 0.25em 1em;
}

hase {
  color: red;
}
