nav {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 1em;
}

.nodeview {
    h3 {
        margin: 0;
    }

    display: grid;
    grid-template-columns: auto auto;
    // grid-template-rows: 1fr auto;
    grid-template-areas:
        'name logo';
        // 'gridtable gridtable';
    gap: 8px;
    padding: 0.25em;
    _background: #fafafa;
    _border-left: solid 4px #777;

    .gridtable {
        grid-area: gridtable;
    }
    svg {
        grid-area: logo;
        align-self: center;
        justify-self: end;
    }
    h3 {
        grid-area: name;
    }

    // & > * {
    //     // padding: 2px;
    // }

    &:hover {
        background: #f8f8f8;
    }
    cursor: pointer;

    &.selected {
        background: white;
    }
}

// .gridtable {
//     display: grid;
//     align-items: stretch;

//     grid-template-columns: auto auto;
//     grid-template-rows: min-content;
//     gap: 0.25em 1em;
// }

g.donut {
    opacity: 0.92;
}
