.stats {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    align-items: stretch; */
    gap: 1em;
}

.topdegrees {
    width: 100%;
}

.stats-top {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.linkstats {
    & > div {
        margin: 2em 0;
    }
    td,
    th {
        border: solid 1px #ccc;
        padding: 2px 4px;
        text-align: right;
    }
    table {
        border-collapse: collapse;
        &.out {
            margin-top: 1em;
        }
    }
}

.nodeid-bars {
    padding: 0 0 0 3em;
    margin: 1em 3em 3em 0;
    width: 250px;
    height: 80px;

    .domain{
        stroke: #777;
    }

    g.tick {
        stroke: #777;
        line{
            stroke: #777;
        }
        text {
            stroke: none;
            fill: #777;
            font-size: 13px;
        }
    }
}
