nav {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 1em;
}

.nodeview {
    h3 {
        margin: 0;
    }

    display: grid;
    grid-template-columns: auto auto;
    // grid-template-rows: 1fr auto;
    grid-template-areas: 'name logo';
    // 'gridtable gridtable';
    gap: 8px;
    padding: 0.25em;
    _background: #fafafa;
    _border-left: solid 4px #777;

    .gridtable {
        grid-area: gridtable;
    }
    svg {
        grid-area: logo;
        align-self: center;
        justify-self: end;
    }
    h3 {
        grid-area: name;
    }

    // & > * {
    //     // padding: 2px;
    // }

    &:hover {
        background: #f8f8f8;
    }
    cursor: pointer;

    &.selected {
        background: white;
    }
}

// .gridtable {
//     display: grid;
//     align-items: stretch;

//     grid-template-columns: auto auto;
//     grid-template-rows: min-content;
//     gap: 0.25em 1em;
// }

.donut {
    opacity: 0.92;
    overflow: visible;
}

.icon {
    &.company {
        fill: #555;
        scale: 3%;
        transform: translate(-200px, -240px);
    }
    &.person {
        fill: #555;
        scale: 3%;
        transform: translate(-170px, -260px);
    }
    &.organization {
        fill: #555;
        scale: 3%;
        transform: translate(-290px, -320px);
    }
    &.political-organization {
        fill: #555;
        scale: 3%;
        transform: translate(-270px, -300px);
    }
    &.vessel {
        fill: #555;
        scale: 3%;
        transform: translate(-280px, -300px);
    }
    &.location {
        fill: #555;
        scale: 3%;
        transform: translate(-200px, -280px);
    }
    &.event {
        fill: #555;
        scale: 3%;
        transform: translate(-255px, -260px);
    }
    &.movement {
        fill: #555;
        scale: 3%;
        transform: translate(-220px, -260px);
    }
}
