.nodeview {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: "name logo" "gridtable gridtable";
  gap: 8px;
  padding: 0.5em;
  _background: #fafafa;
  _border-left: solid 4px #777;
  cursor: pointer;
}
.nodeview h3 {
  margin: 0;
}
.nodeview .gridtable {
  grid-area: gridtable;
}
.nodeview svg {
  grid-area: logo;
  align-self: center;
  justify-self: end;
}
.nodeview h3 {
  grid-area: name;
}
.nodeview:hover {
  background: #f8f8f8;
}
.nodeview.selected {
  background: white;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.gridtable {
  display: grid;
  align-items: stretch;
  grid-template-columns: auto auto;
  grid-template-rows: min-content;
  gap: 0.25em 1em;
}