.stats {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    align-items: stretch; */
  gap: 1em;
}

.topdegrees {
  width: 100%;
}

.stats-top {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.linkstats > div {
  margin: 2em 0;
}

.linkstats td,
.linkstats th {
  border: solid 1px #ccc;
  padding: 2px 4px;
  text-align: right;
}

.linkstats table {
  border-collapse: collapse;
}

.linkstats table.out {
  margin-top: 1em;
}

.nodeid-bars {
  padding: 0 0 0 3em;
  margin: 1em 3em 3em 0;
  width: 250px;
  height: 80px;
}

.nodeid-bars .domain {
  stroke: #555;
}

.nodeid-bars .bar.total {
  fill: #bbbbbb;
}

.nodeid-bars g.tick {
  stroke: #555;
}

.nodeid-bars g.tick line {
  stroke: #555;
}

.nodeid-bars g.tick text {
  stroke: none;
  fill: #555;
  font-size: 13px;
}
