.sankey-path {
  fill: none;
}

.sankey-label {
  stroke: none;
}

.sankey {
  user-select: none;
  min-width: 600px;
  /* outline: solid 1px navy */
}

.sankey path {
  stroke: #aaccbb;
}

.sankey rect:not(:hover),
.sankey text:not(:hover) {
  fill: #aaccbb;
  stroke: none;
}

.sankey path,
.sankey rect {
  opacity: 0.7;
  cursor: pointer;
}

.sankey path:hover,
.sankey rect:hover {
  opacity: 1;
}

.sankey text {
  font-size: 12px;
}
